<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <head>
        <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
        <meta charset="UTF-8">
        <title>Title</title>
        <script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
        <link rel="StyleSheet" href="../css/jquery-ui.min.css" type="text/css" media="screen"/>
    </head>

    <script>
        $().ready(function () {
            var $keyword = $("#keyword");
            $keyword.on("keyup", function () {
                var text = $keyword.val();
                console.log("输入框为" + $keyword.val());

                if (text == '') {//如果输入框为空不输出
                    // console.log("搜索框为空")
                } else {//如果不为空则从数据库中寻找结果
                    $.ajax({
                        type: "GET",
                        url: "autoComplete",
                        data: {"keyword": $keyword.val()},
                        dataType: "json",
                        success: function (data) {
                            // alert(data);
                            //     if(typeof (data)=='string'){
                            //         var stringObj = function (data) {
                            //             return eval("("+data+")");
                            //         }
                            //         alert(stringObj);
                            //         // console.log(stringObj);
                            //     }
                            var searchResult = new Array();
                            for (var i = 0; i < data.length; i++) {
                                searchResult[i] = data[i].name;
                                // console.log(searchResult[i]);
                            }
                            $keyword.autocomplete({
                                source: searchResult
                            });
                        }
                    })
                }
            });
        });
    </script>


    <body>

    <div id="Header">
        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/view"><img src="/static/../images/logo-topbar.gif"/></a>
            </div>
        </div>

        <div id="Menu">
            <div id="MenuContent">
                <!--购物车-->
                <a href="/Cart/viewCart"><img align="middle" name="img_cart" src="/static/../images/cart.gif"/></a>
                <img align="middle" src="/static/../images/separator.gif"/>
                <a th:if="${account == null}" href="/account/signOnForm">Sign In</a>

                <!--            <c:if test="${sessionScope.account != null}">-->
                <a th:if="${account != null}" href="/account/signOff">Sign Out</a>
                <!---signOff-->
                <!--            </c:if>-->

                <!--分隔符-->
                <!--            <c:if test="${sessionScope.account != null}">-->
                <img th:if="${account != null}" align="middle" src="/static/../images/separator.gif"/>
                <a th:if="${account != null}" href="/account/editAccount">My Account</a>
                <!--            </c:if>-->
                <img align="middle" src="/static/../images/separator.gif"/>
                <!--暂未提供-->
                <a href="">?</a>
            </div>
        </div>

        <!--搜索栏目-->
        <form action="/catalog/searchProduct" method="post">
            <div id="Search">
                <div id="SearchContent">
                    <input type="text" name="keyword" size="14" id="keyword"/>
                    <input type="submit" name="searchProducts" value="Search" id="searchProducts"/>
                </div>
            </div>
        </form>


        <div id="QuickLinks">
            <a href="/catalog/viewCategory?categoryId=FISH"><img src="/static/../images/sm_fish.gif"/></a>
            <img src="/static/../images/separator.gif"/>
            <a href="/catalog/viewCategory?categoryId=DOGS"><img src="/static/../images/sm_dogs.gif"/></a>
            <img src="/static/../images/separator.gif"/>
            <a href="/catalog/viewCategory?categoryId=REPTILES"><img src="/static/../images/sm_reptiles.gif"/></a>
            <img src="/static/../images/separator.gif"/>
            <a href="/catalog/viewCategory?categoryId=CATS"><img src="/static/../images/sm_cats.gif"/></a>
            <img src="/static/../images/separator.gif"/>
            <a href="/catalog/viewCategory?categoryId=BIRDS"><img src="/static/../images/sm_birds.gif"/></a>
        </div>
    </div>
</header>
</body>
</html>