<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/manager/reset.css" rel="stylesheet">
    <link href="/css/manager/iconfont.css" rel="stylesheet">
    <link href="/css/manager/index.css" rel="stylesheet">
    <script src="/js/manager/jquery-1.9.1.min.js"></script>
    <script src="/js/manager/f.js"></script>
    <script src="/js/manager/orderManagerJS/chooseAll.js"></script>
    <script src="/js/manager/orderManagerJS/deleteChoosedOrder.js"></script>
    <script src="/js/manager/orderManagerJS/change.js"></script>
    <script src="/js/manager/orderManagerJS/changeStatusToR.js"></script>
    <title>订单管理</title>
</head>
<body class="vsc-initialized">
<div class="PublicHead clearfix">
    <div class="leftBox clearfix">
        <div class="companyLogo">
            <img src="/images/manager/logo.jpg">
        </div>
        <!--<i class="iconfont icon-caidan"></i>-->

        <div class="companyText">
            JPetStore
        </div>
    </div>
    <div class="RightBox clearfix">
        <div class="UserPhotoBox">
            <div class="UserPic">
                <img src="/images/manager/user.png">
            </div>
            <div class="UserName">
                管理员
            </div>
        </div>
        <a href="/account/signOnForm">
            <div class="dropOutBox">
                <i class="iconfont icon-app_icons--">
                </i>
                <span>退出</span>
            </div>
        </a>
    </div>
</div>

<div class="PublicDownWhole clearfix">
    <!--左侧-->
    <div class="leftBox">
        <ul>
            <a href="">
                <li class=""><i class="iconfont icon-yonghuguanli"></i><span>用户管理</span></li>
            </a>
            <a href="/orderManager/view">
                <li class="Select"><i class="iconfont icon-tubiao_dingdan"></i><span>订单管理</span></li>
            </a>
            <a href="">
                <li><i class="iconfont icon-fenlei"></i><span>分类管理</span></li>
            </a>
            <a href="">
                <li><i class="iconfont icon-weibiaoti1"></i><span>产品管理</span></li>
            </a>
        </ul>
    </div>
    <!--右侧-->
    <div class="RightBox">
        <div class="PublicContentBox">
            <!--公用指向页面名字-->
            <div class="PublicPointToAgeText">
                <span class="span1">订单管理 </span> <span class="span2">后台订单管理列表</span>
            </div>
            <!--            &lt;!&ndash;查询&ndash;&gt;-->
            <!--            <div class="InquireBox clearfix">-->
            <!--                <div class="InquireleftBox">-->
            <!--                    <div class="Text">订单号：</div>-->
            <!--                    <div class="InputDiv"><input class="phoneInput" placeholder="请输入你需要查询的订单号"></div>-->
            <!--                </div>-->
            <!--                <div class="PublicBtnIcon Color1Btn fr">-->
            <!--                    <i class="iconfont icon-icon-chaxun"></i>-->
            <!--                    <span>查询</span>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--表修改-->
            <div class="InquireTableBox">
                <div class="headbox">
                    <div class="headboxtext">
                        <span class="span1">后台订单管理列表</span>
                    </div>
                    <!--批量删除-->
                    <div class="PublicBtnIcon Color5Btn">
                        <i class="iconfont  icon-shanchu"></i>
                        <span id="deleteSome">批量删除</span>
                    </div>

                    <!--<div class="PublicBtnIcon Color2Btn fr Js_edit">
                        <i class="iconfont icon-changyongtubiao-mianxing-"></i>
                        <span>添加</span>
                    </div>-->
                </div>

                <!--查询到的表格-->

                <div class="InquireSelectTable">
                    <table class="PublicTableCss">
                        <thead>
                        <tr>
                            <td>
                                <input id="inputcheck" class="inputcheck a" type="checkbox" name="inputcheck">
                                <label for="inputcheck"></label>
                                <span>全选</span>
                            </td>
                            <td>是否发货</td>
                            <td>订单号</td>
                            <td>用户名</td>
                            <td>购买日期</td>
                            <td>送货地址</td>
                            <td>送货邮编</td>
                            <td>付款地址</td>
                            <td>付款邮编</td>
                            <td>快递公司</td>
                            <td>总金额</td>
                            <td>信用卡号</td>
                            <td>操作</td>
                        </tr>

                        </thead>
                        <tbody>

                        <div th:each="order:${orderList}">
                            <tr th:class="${order.orderId}">
                                <td>
                                    <input th:id="${order.orderId}" class="inputcheck aa" type="checkbox"
                                           name="inputcheck">
                                    <label th:for="${order.orderId}"></label>
                                </td>
                                <td class="isShipped">
                                    <span id="P" th:if="${order.status == 'P'}">
                                        未发货
                                    </span>
                                    <span id="R" th:if="${order.status == 'R'}">
                                        已发货
                                    </span>
                                </td>
                                <td th:text="${order.orderId}">1000</td>
                                <td th:text="${order.username}">j2ee</td>
                                <td th:text="${order.orderDate}">2021-04-04</td>
                                <td id="address">
                                    <div id="shipAddress1"
                                         th:text="${order.shipAddress1}">
                                        901 San Antonio Road<br>
                                    </div>
                                    <div id="shipAddress2"
                                         th:text="${order.shipAddress2}">
                                        9MS UCUP02-206<br>
                                    </div>
                                    <div id="shipCity"
                                         th:text="${order.shipCity}">
                                        Palo Alto<br>
                                    </div>
                                </td>
                                <td id="shipZip"
                                    th:text="${order.shipZip}">
                                    94303
                                </td>
                                <td>
                                    <div th:text="${order.billAddress1}">
                                        901 San Antonio Road<br>
                                    </div>
                                    <div th:text="${order.billAddress2}">
                                        9MS UCUP02-206<br>
                                    </div>
                                    <div th:text="${order.billCity}">
                                        Palo Alto<br>
                                    </div>
                                </td>
                                <td th:text="${order.billZip}">94303</td>
                                <td id="courier"
                                    th:text="${order.courier}">
                                    UPS
                                </td>
                                <td th:text="${order.totalPrice}">200.50</td>
                                <td th:text="${order.creditCard}">00000</td>
                                <td class="actions">

                                    <div class="PublicTableBtnIcon Color3Btn Js_edit">
                                        <i class="iconfont icon-tubiaozhizuomobanyihuifu-"></i>
                                        <span>编辑</span>
                                        <span id="value" th:text="${order.orderId}" style="display: none"></span>
                                    </div>

                                    <div class="PublicTableBtnIcon Color4Btn Js_delete">
                                        <i class="iconfont icon-shanchu"></i>
                                        <span class="text">发货</span>
                                        <span class="value" th:text="${order.orderId}" style="display: none"></span>
                                    </div>
                                </td>
                            </tr>
                            <!--                            <tr th:each="lineItem:${order.lineItems}">-->
                            <!--                                <td>1744</td>-->
                            <!--                            </tr>-->
                        </div>
                        </tbody>
                    </table>

                </div>
                <!--分页-->
                <div class="PageNumber">
                    <div class="NumbersBox">
                        <div class="LeftArrow">
                            上一页
                        </div>
                        <ul>
                            <li class="Select">1</li>
                            <li class="">2</li>
                            <li class="">...</li>
                            <li class="">4</li>
                            <li class="">5</li>
                        </ul>
                        <div class="RightArrow ">
                            下一页
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- alert通用 提示是否删除-->
<div class="PublicFloatBox f_delete">
    <div class="f_MiddleBox wid260">
        <div class="f_Head">
            <span>提示消息</span>
            <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>
        </div>
        <div class="f_content clearfix">
            <!--提示消息内容-->
            <div class="f_someText">
                <i class="iconfont icon-tishi"></i>
                <span class="bbb">确定发货吗？</span>
            </div>
            <!--按钮-->
            <div class="f_pormatBtn clearfix">
                <div class="f_pormatBtn1 Js_closeBtn">
                    确定
                </div>
                <div class="f_pormatBtn2 Js_closeBtn">
                    删除
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加用户浮层-->
<div class="PublicFloatBox adduser">
    <div class="f_MiddleBox wid400">
        <form action="/orderManager/edit" method="post">
            <div class="f_Head">
                <span>修改订单</span>
                <input id="editOrderId" name="orderId">
                <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>
            </div>
            <div class="f_content">
                <div class="f_alonediv">
                    <div class="f_alone_name">送货地址:</div>
                    <div class="f_alone_input">
                        <input id="editShipAddress1" type="text" name="shipAddress1" class="f_p_input">
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name"></div>
                    <div class="f_alone_input">
                        <input id="editShipAddress2" type="text" name="shipAddress2" class="f_p_input">
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name"></div>
                    <div class="f_alone_input">
                        <input id="editShipCity" type="text" name="shipCity" class="f_p_input">
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name">送货邮编:</div>
                    <div class="f_alone_input">
                        <input id="editShipZip" type="text" name="shipZip" class="f_p_input">
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name">快递公司:</div>
                    <div class="f_alone_input">
                        <input id="editCourier" type="text" name="courier" class="f_p_input">
                    </div>
                </div>
                <div class="f_alonediv1">
                    <div class="f_alone_name">
                    </div>
                    <div class="f_alone_input1">
                        <!--publicbtn-->
                        <div class="publicf_btn">
                            <div class="publicf_btn1">
                            <span>
                                <input type="submit" name="editOrder" value="确定"/>
                            </span>
                            </div>
                            <div class="publicf_btn2 fr Js_closeBtn">
                                取消
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>