<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>

<div th:replace="common/top::header"></div>

<form method="post" th:action="${'/AccountManager/changeAccountInfo?username='}+${account.getUsername()}" th:object="${tempAccount}">
    <h3><span type="text" name="username" th:value="${account.getUsername()}" th:text="${account.getUsername()}"></span> Account Information</h3>
<table>
    <tr>
        <td>Password:</td>
        <td><input type="text" name="password"/>*若需要更改密码请填入新密码</td>
    </tr>

    <tr>
        <td>First name:</td>
        <td><input type="text" name="firstName" th:value="${account.getFirstName()}"/></td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td><input type="text" name="lastName" th:value="${account.getLastName()}"/></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="text" size="40" name="email" th:value="${account.getEmail()}" /></td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td><input type="text" name="phone" th:value="${account.getPhone()}" /></td>
    </tr>
    <tr>
        <td>Address 1:</td>
        <td><input type="text" size="40" name="address1" th:value="${account.getAddress1()}" /></td>
    </tr>
    <tr>
        <td>Address 2:</td>
        <td><input type="text" size="40" name="address2" th:value="${account.getAddress2()}" /></td>
    </tr>
    <tr>
        <td>City:</td>
        <td><input type="text" name="city" th:value="${account.getCity()}" /></td>
    </tr>
    <tr>
        <td>State:</td>
        <td><input type="text" size="4" name="state" th:value="${account.getState()}" /></td>
    </tr>
    <tr>
        <td>Zip:</td>
        <td><input type="text" size="10" name="zip" th:value="${account.getZip()}" /></td>
    </tr>
    <tr>
        <td>Country:</td>
        <td><input type="text" size="15" name="country" th:value="${account.getCountry()}" /></td>
    </tr>
</table>

    <input type="submit" name="editAccount" value="Save Account Information" />
</form>

<div th:replace="common/bottom::footer"></div>

</body>
</html>