<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>-->
<!--</head>-->
<!--<body>-->
<div th:replace="common/top::header">

</div>

<div id="BackLink">
    <a th:href="${'/catalog/viewCategory?categoryId='}+${product.categoryId}" th:text="${'Return to'}+${product.categoryId}">product.categoryId </a>
</div>

<div id="Catalog">

    <h2>${session.product.name}</h2>

    <table>
        <tr>
            <th>Item ID</th>
            <th>Product ID</th>
            <th>Description</th>
            <th>List Price</th>
            <th>&nbsp;</th>
        </tr>
            <tr th:each="item:${itemList}">
                <td>
                    <a th:href="${'/catalog/viewItem?itemId='}+${item.itemId}" th:text="${item.itemId}">item.itemId</a>
                </td>
                <td th:text="  ${item.product.productId}">
                    item.product.productId
                </td>
                <td th:text="${item.attribute1}+${item.attribute2!=null?item.attribute2:''}+${item.attribute3!=null?item.attribute3:''}+${item.attribute4!=null?item.attribute4:''}+${item.attribute5!=null?item.attribute5:''}">
<!--&lt;!&ndash;                    +&ndash;&gt;+${item.attribute3!=null?item.attribute3:}+${item.attribute4!=null?item.attribute4:}+${item.attribute5!=null?item.attribute5:}-->
<!--                    ${item.attribute3}+${item.attribute4} +${item.attribute5}-->
<!--                    +${product.name}}-->
                  123
                </td>
                <td th:text="${#numbers.formatDecimal(item.listPrice,1,'COMMA',2,'POINT')}">
                <td th:switch="${account != null }">
                    <a class="Button" th:case="true"  th:href="${'/Cart/addItemToCart?workingItemId='}+${item.itemId}">Add to Cart</a>
                    <a class="Button" th:case="false" href="/account/signOnForm">Add to Cart</a>
                </td>
            </tr>
        </c:forEach>
        <tr>
            <td>
            </td>
        </tr>
    </table>

</div>




</div>
<div th:replace="common/bottom::footer">

</div>
</body>
</html>