<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>-->

<!--   -->
<!--</head>-->
<!--<body> -->
<script >
    function validate() {
        var password = document.getElementById("password").value;
        var repeatedPassword = document.getElementById("repeatedPassword").value;

        var tips = document.getElementById("passwordTips");
        if(password==repeatedPassword){
            tips.className='okmsg';
            tips.innerText="Correct Password"
        }
        else if(password!=repeatedPassword){
            tips.className='errormsg';
            tips.innerText="Different Password!"
        }

    }
</script>
<div th:replace="common/top::header">
</div>

<div id="Catalog">
    <form action="/account/saveAccount" method="post">
        <h3>User Information</h3>

        <table>
            <tr>
                <td>User ID:</td>
                <td th:text="${account.username}">username</td>
            </tr>
            <tr>
                <td>New password:</td>
<!--                -->
                <td><input type="text" name="password" autofocus="autofocus" id="password" onkeyup="validate()" /></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
<!--                -->
                <td><input type="text" name="repeatedPassword" id="repeatedPassword" onkeyup="validate()"/>
                    <span id="passwordTips"></span>
                </td>
            </tr>
           </table>
        <div th:replace="account/IncludeAccountFields::accountField"></div>
        <input type="submit" name="editAccount" value="Save Account Information" />

    </form>
    <!--event="listOrders-->
<!--    <a href="viewListOrder?username=${account.username}">My Orders</a>-->
</div>



<div th:replace="common/bottom::footer">

</div>
</body>
</html>