<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.OrderManagerMapper">
    <select id="getOrdersByUsername" parameterType="string" resultType="order">
        select
            billaddr1 as billaddress1,
            billaddr2 as billaddress2,
            billcity,
            billcountry,
            billstate,
            billtofirstname,
            billtolastname,
            billzip,
            shipaddr1 as shipaddress1,
            shipaddr2 as shipaddress2,
            shipcity,
            shipcountry,

            shiptofirstname,
            shiptolastname,
            shipzip,
            cardtype,
            courier,
            creditcard,
            exprdate as expirydate,
            locale,
            orderdate,
            orders.orderid,
            totalprice,
            userid as username,
            status
        from orders, orderstatus
        where orders.userid = #{value}
          and orders.orderid = orderstatus.orderid
        order by orderdate
    </select>

    <select id="getOrder" parameterType="int" resultType="order" >
        select
            billaddr1 as billaddress1,
            billaddr2 as billaddress2,
            billcity,
            billcountry,
            billstate,
            billtofirstname,
            billtolastname,
            billzip,
            shipaddr1 as shipaddress1,
            shipaddr2 as shipaddress2,
            shipcity,
            shipcountry,

            shiptofirstname,
            shiptolastname,
            shipzip,
            cardtype,
            courier,
            creditcard,
            exprdate as expirydate,
            locale,
            orderdate,
            orders.orderid,
            totalprice,
            userid as username,
            status
        from orders, orderstatus
        where orders.orderid = #{value}
          and orders.orderid = orderstatus.orderid
    </select>

    <insert id="insertOrder" parameterType="order">
        insert into orders
        (orderid, userid, orderdate, shipaddr1, shipaddr2, shipcity, shipzip, shipcountry, billaddr1, billaddr2, billcity,
         billzip, billcountry, courier, totalprice, billtofirstname, billtolastname, shiptofirstname, shiptolastname,
         creditcard, exprdate, cardtype, locale)
        values (#{orderId} , #{username}, #{orderDate}, #{shipAddress1}, #{shipAddress2}, #{shipCity}, #{shipZip}, #{shipCountry},
                #{billAddress1}, #{billAddress2}, #{billCity}, #{billZip}, #{billCountry}, "UPS", #{totalPrice},
                #{billToFirstName}, #{billToLastName}, #{shipToFirstName}, #{shipToLastName}, #{creditCard},
                #{expiryDate}, #{cardType}, #{locale})
    </insert>

    <insert id="insertOrderStatus">
        insert into orderstatus (orderid, linenum, timestamp, status)
        values (#{order.orderId,jdbcType=NUMERIC},
                #{lineId,jdbcType=NUMERIC},
                #{order.orderDate,jdbcType=TIMESTAMP},
                #{order.status,jdbcType=VARCHAR})
    </insert>

    <select id="getOrderNum" resultType="int">
        select count(*)
        from orders
    </select>

    <insert id="insertLineItem" parameterType="LineItem">
        insert into lineitem
            (orderid, linenum, itemid, quantity, unitprice)
        values
            (#{orderId}, #{lineNumber}, #{itemId}, #{quantity}, #{unitPrice})
    </insert>

    <delete id="removeCartByUsername" parameterType="String">
        delete from cart where username = #{username}
    </delete>

    <!-- 什么原理？一个个弄就对了 -->
    <update id="updateOrderByOrderId" parameterType="Order">
        update orders
        set
            orderdate       = #{orderDate},
            shipaddr1       = #{shipAddress1},
            shipaddr2       = #{shipAddress2},
            shipcity        = #{shipCity},
            shipzip         = #{shipZip},
            shipcountry     = #{shipCountry},
            billaddr1       = #{billAddress1},
            billaddr2       = #{billAddress2},
            billcity        = #{billCity},
            billstate       = #{billState},
            billzip         = #{billZip},
            billcountry     = #{billCountry},
            courier         = #{courier},
            totalprice      = #{totalPrice},
            billtofirstname = #{billToFirstName},
            billtolastname  = #{billToLastName},
            shiptofirstname = #{shipToFirstName},
            shiptolastname  = #{shipToLastName},
            creditcard      = #{creditCard},
            exprdate        = #{expiryDate},
            cardtype        = #{cardType},
            locale          = #{locale}
         where orderid = #{orderId}
    </update>

    <update id="changeOrderLineTo_R">
        update orderstatus
        set status = 'R'
        where orderid = #{orderId} and linenum = #{lineId}
    </update>

    <update id="changeOrderLineTo_P">
        update orderstatus
        set status = 'P'
        where orderid = #{orderId} and linenum = #{lineId}
    </update>
</mapper>