<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.OrderMapper">
    <select id="getOrdersByUsername" parameterType="string" resultType="order">
        select
            billaddr1 as billaddress1,
            billaddr2 as billaddress2,
            billcity,
            billcountry,
            billstate,
            billtofirstname,
            billtolastname,
            billzip,
            shipaddr1 as shipaddress1,
            shipaddr2 as shipaddress2,
            shipcity,
            shipcountry,
            shipstate,
            shiptofirstname,
            shiptolastname,
            shipzip,
            cardtype,
            courier,
            creditcard,
            exprdate as expirydate,
            locale,
            orderdate,
            orders.orderid,
            totalprice,
            userid as username,
            status
        from orders, orderstatus
        where orders.userid = #{value}
          and orders.orderid = orderstatus.orderid
        order by orderdate
    </select>

    <select id="getOrder" parameterType="int" resultType="order" >
        select
            billaddr1 as billaddress1,
            billaddr2 as billaddress2,
            billcity,
            billcountry,
            billstate,
            billtofirstname,
            billtolastname,
            billzip,
            shipaddr1 as shipaddress1,
            shipaddr2 as shipaddress2,
            shipcity,
            shipcountry,
            shipstate,
            shiptofirstname,
            shiptolastname,
            shipzip,
            cardtype,
            courier,
            creditcard,
            exprdate as expirydate,
            locale,
            orderdate,
            orders.orderid,
            totalprice,
            userid as username,
            status
        from orders, orderstatus
        where orders.orderid = #{value}
          and orders.orderid = orderstatus.orderid
    </select>

    <insert id="insertOrder" parameterType="order">
        <!-- 奇怪，这里必须大写…… -->
        insert into orders (ORDERID, USERID, ORDERDATE, SHIPADDR1, SHIPADDR2, SHIPCITY, SHIPSTATE,
        SHIPZIP, SHIPCOUNTRY, BILLADDR1, BILLADDR2, BILLCITY, BILLSTATE, BILLZIP, BILLCOUNTRY,
        COURIER, TOTALPRICE, BILLTOFIRSTNAME, BILLTOLASTNAME, SHIPTOFIRSTNAME, SHIPTOLASTNAME,
        CREDITCARD, EXPRDATE, CARDTYPE, LOCALE)
        values(#{orderId}, #{username}, #{orderDate}, #{shipAddress1}, #{shipAddress2,jdbcType=VARCHAR}, #{shipCity},
        #{shipState}, #{shipZip}, #{shipCountry}, #{billAddress1}, #{billAddress2,jdbcType=VARCHAR}, #{billCity},
        #{billState}, #{billZip}, #{billCountry}, #{courier}, #{totalPrice}, #{billToFirstName}, #{billToLastName},
        #{shipToFirstName}, #{shipToLastName}, #{creditCard}, #{expiryDate}, #{cardType}, #{locale})
    </insert>

    <insert id="insertOrderStatus" parameterType="order">
        insert into orderstatus (ORDERID, LINENUM, TIMESTAMP, STATUS)
        values (#{orderId,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
    </insert>

</mapper>